.carousel-wrapper {
    width: 100%;
}
.carousel-slider {
    display: flex;
    width: fit-content;
}


.slider-img {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.img1 {
    background-image: url("./images/accessory-buttons-console-control-275033.jpg");
}
.img2 {
    background-image: url("./images/black-microsoft-xbox-game-controller-1298601.jpg");
}
.img3 {
    background-image: url("./images/blur-close-up-device-display-442576.jpg");
}
.img4 {
    background-image: url("./images/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036.jpg");
}