.App {
    display: grid;
    grid-template-columns: 3fr 10fr 1fr;
    background-color: rgb(37, 37, 37);

    .section_container {
        grid-column: 3/4;
        overflow: hidden;

        .section {
            margin: 70% 0% 0% 0%;
            transform: rotate(90deg);
            opacity: 0.2;
            font-size: 5rem;
        }
    }
}